{%extends "base.html"%}
{% block title %}
Главная
{% endblock %}
{% block content %}
<div class="col-12">
    <div class="row my-3">
        <div class="col-6 container">
            <p class="display-6">Выберите военнослужащего:</p>
            <select class="form-control" required>
                {% for soldier in soldiers%}
                <option value="{{soldier.pk}}">{{soldier}}</option>
                {% endfor %}
            </select>
            <p class="display-6">Введите заслуги:</p>
            <input type="text" placeholder="За отвагу" spellcheck="true" class="form-control">
            <center><p class="btn btn-md btn-success my-2 form-control">Искать</p></center>
        </div>
        <div class="col-6 container">
            <article class="my-3" id="list-group">
                <br>
                <div class="bd-example">
                    <ul class="list-group">
                        {% for medal in medals%}
                      <li class="list-group-item">
                          <h4 class="underline text-center"><u>{{medal}}</u></h4>
                          <div class="row">
                              <div class="col-8">
                                  <p>{{medal.rules}}</p>
                              </div>
                              <div class="col-4">
                                  <img class="card-img" src="{{medal.image.url}}" width="120" height="140" alt="">
                              </div>
                          </div>
                      </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}