{%extends "base.html"%}
{% block title %}
    Страница регистрации
{% endblock %}
{% block content %}
<h1 class="display-4"> Зарегистрировать нового пользователя</h1>
<div class="row mx-auto"> <!-- mx-auto - Выравнивание по ширине -->
 <div class="col-md-6">
         <form method="post" action=""> {% csrf_token %}
    {{form.as_p}}<br>
        <button type="submit" class="btn btn-primary btn-lg mx-auto"> <!--btn-sm уменьшает размер кнопки-->
                    Зарегистрироваться
         </button>
    </form>
 </div>
</div>
{% endblock %}